/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: black;
}
header{
  background-color: black;
  height: 50px;
  min-width: 600px;
}
.header-content{
  width: 1200px;
  height: 50px;
  margin: 0 auto;
}
.title{
  display: inline-block;
}
.list{
  display: inline-block;

}
.list-content{
  display: inline-block;
  padding-left: 10px;
  opacity: .7;
}
.list-content:hover{
  opacity: 1;
}
.link:link, .link:visited, .link:hover, .link:active{
  display:inline-block;
  padding: 15px;
  color:white;
  text-decoration:none;
}
.tops-content{
  width: 80%;
  margin: 0 auto;
}
.tops-ul{
  list-style: none;
  width: 120%;
}
.tops-li a{
  width: 80%;
  color: #666;
}
.space{
  margin-left: 80%;
}
.content{
  display:flex;
}
table{
  width: 100%;
}
table td{
  border-top: solid 1px rgba(0,0,0,0.2);
}
table th{
  text-align: center;
}
table td{
  text-align: center;
}
table th{
  padding: 15px 0px;
}
table td{
  padding: 15px 0px;
}
.top-table td{
  padding: 10px 0px;
}
.edit_form {
  width: 100%;
}
.bottom-botton{
  margin-top: 5px;
  opacity: .7;
}
.repaire{
  margin-top: 20px;
}
.repaire a{
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 48%;
  margin-top: 40px;
}
.submit-form{
  width: 100%;
}
.create-botton{
  width: 100%;
}
.alert-warning{
  margin: 30px 0px;
}
/* 汎用性のあるクラスたち*/
.white{
  color: white;
}
.green{
  color: green;
}
.notice{
  color: green;
}
.medium{
  font-size: 20px;
}
.bolder{
  font-weight: bolder;
}
.left-border{
  border-left:solid 1px;
}
.left-padding{
  padding-left: 3px;
}